* {
    box-sizing: border-box;
}

body {
    font-family: normal 21px Helvetica, Arial, sans-serif;
    background-color: lightgrey;
}

h5 {
    margin: 10px 0;
    border-bottom: 1px solid black;
}
